html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 1.2rem;
}

.baron-neue {
  font-family: 'Baron Neue', sans-serif;
  font-weight: 900;
}

.bg-tmp {
  background: teal;
}


/* intro section */

#intro {
  color: #fff;
  /*responsive background image*/
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/backgrounds/bg_intro_mounzer-awad-348688.jpg') $responsive-bg fixed;
  background-size: cover;
  #avatar {
    border-radius: 100%;
  }
  #name {
    font-size: 2rem;
  }
  #short {
    font-weight: 300;
    font-size: 1.5rem;
  }
  #know-more {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    #know-more-btn {
      cursor: pointer;
      display: block;
      margin-top: 10px;
    }
  }
}

#skills {
  .devicon {
    font-size: 5em;
  }
}

footer {
  margin-top: 20px;
  padding: 20px;
  background: gray;
}


/* navbar */

.navbar {
  padding: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 0.69) 28%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 100%), url('../images/backgrounds/bg_navbar_ben-neale-222400.jpg') $responsive-bg;
  background-size: cover;
  .navbar-collapse {
    justify-content: center;
    .navbar-nav {
      .nav-link {
        padding: 30px 20px;
        font-weight: 900;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}