///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback), 
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive)=='vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  @if $fallback {
    font-size: $fallback;
  }
  font-size: $responsive;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

h1 {
  @include responsive-font(3.5vw, 40px, 70px, false);
}

h2 {
  @include responsive-font(3vw, 30px, 60px, false);
}

p {
  @include responsive-font(1.5vw, 20px, 30px, false);
}

.section {
  padding-bottom: 80px;
  color: #fff;
  text-align: center;
}

.container {
  .header,
  .sub-header {
    font-weight: 900;
    text-transform: uppercase;
  }
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
  }
  .sub-header {
    margin-top: 40px;
    letter-spacing: 5px;
  }
}

.fixed-top {
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.53);
}

.bg-tmp {
  background: teal;
}


/* intro section */

#intro {
  color: #202020;
  /*responsive background image*/
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.77) 0%, rgba(255, 255, 255, 1) 100%), url('../images/backgrounds/bg_intro_sabri-tuzcu-331970.jpg') $responsive-bg fixed;
  background-size: cover;
  #logo-link {
    text-align: center;
    #logo {
      width: 20%;
    }
  }
  #avatar {
    border-radius: 100%;
  }
  #name {
    color: #ff2d69;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    @include responsive-font(2.5vw,
    40px,
    70px,
    false);
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  #short {
    font-weight: 400;
    @include responsive-font(2vw,
    20px,
    30px,
    false);
  }
  #know-more {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    @include responsive-font(1vw,
    11px,
    30px,
    false);
  }
  a {
    text-align: center;
    text-decoration: none;
    #know-more-btn {
      color: #ff2d69;
      cursor: pointer;
      display: inline;
      position: relative;
      top: 0;
      transition: all .3s ease;
    }
    #know-more-btn:hover {
      top: -5px;
    }
    #know-more-btn:active {
      top: 0;
    }
  }
}

#skills {
  .devicon {}
}


/* navbar */

.navbar {
  transition: all .3s ease;
  padding: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 17%, rgba(255, 255, 255, 0.69) 28%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 100%), url('../images/backgrounds/bg_navbar_ben-neale-222400.jpg') $responsive-bg;
  background-size: cover;
  .navbar-collapse {
    justify-content: center;
    .navbar-nav {
      .nav-link {
        padding: 30px 20px;
        font-weight: 900;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all .3s ease;
      }
    }
  }
}


/* "What I Do" section */

#what-i-do {
  background: linear-gradient(45deg, rgba(255, 69, 69, 0.75) 0%, rgba(255, 69, 69, 0.95) 100%), url('../images/backgrounds/bg_what_i_do_pexels-photo-273230.jpg') $responsive-bg;
  i {
    display: block;
    margin: 25px;
    text-align: center;
    @include responsive-font(3.5vw,
    40px,
    70px,
    false);
  }
}


/* "Projects" section */

#projects,
#what-else {
  background: #202020;
  .row {
    margin-top: 40px;
    div {
      overflow: hidden;
      img {
        transition: all .3s ease;
        transform: scale(1);
      }
      .mouse-overlay,
      .link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .mouse-overlay.show {
        background: rgba(#000, 0.5);
        p {
          padding: 20px 50px;
        }
        a {
          text-align: left;
          margin: 20px;
        }
        a:hover {
          text-decoration: none;
        }
        .fa {}
        .fa-instagram {
          color: #cd486b;
        }
        .fa-wordpress {
          color: #2992c1;
        }
        .fa-vimeo {
          color: #1ab7ea;
        }
      }
    }
    div:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}


/* "Skills" section */

#skills {
  background: radial-gradient(ellipse at center, rgba(74, 198, 255, 0.7) 0%, rgba(52, 180, 240, 1) 62%, rgba(39, 169, 230, 1) 100%), url('../images/backgrounds/bg_skills_pexels-photo-330771.jpg') $responsive-bg;
  .row {
    .row {
      margin-top: 40px;
      div {
        i {
          @include responsive-font(5vw,
          40px,
          100px,
          false);
        }
        span {
          font-weight: 900;
          letter-spacing: 2px;
        }
      }
    }
  }
}


/* "Skills" section */

#education {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.49) 0%, rgba(0, 0, 0, 0.76) 86%, rgba(0, 0, 0, 0.76) 100%), url('../images/backgrounds/william-bout-bg_education_264826.jpg') $responsive-bg;
}


/* "What Else" section */


/* "Contact" section */

#contact {
  background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 27%, rgba(255, 255, 255, 0.79) 100%), url('../images/backgrounds/bg_contact_brennan-ehrhardt-25066.jpg') $responsive-bg;
  color: #202020;
  .header {
    border-color: #202020;
  }
  .row {
    margin-top: 40px;
  }
  form {
    input:focus,
    textarea:focus,
    button:focus,
    button:active {
      outline: 0;
      box-shadow: 0 0 0 0 #fff;
    }
    input,
    textarea {
      border: 5px solid #202020;
      border-radius: 0;
      color: #202020;
      @include responsive-font(2vw,
      20px,
      70px,
      false);
    }
    button {
      background: #202020;
      border: 0;
      border-radius: 0;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding: 25px;
    }
  }
  h3,
  a {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
  }
  a {
    color: #c71610;
  }
}

.footer {
  background: #202020;
  color: #fff;
  margin-top: 20px;
  padding: 20px;
  img {
    width: 50%;
    margin: auto;
  }
  #copyright {
    color: #949494;
  }
  .fa-circle {
    color: #333333;
  }
}