/* max-width: 576px */

@media screen and (max-width: 576px) {
  #intro {
    #avatar {
      width: 100px;
      height: 100px;
    }
    #name,
    #short,
    #know-more-btn {
      font-size: 1.5rem;
    }
    #know-more {
      font-size: 9px;
    }
  }
}


/* max-width: 991px */

@media screen and (max-width: 991px) {
  /* show icons only */
  .navbar-nav {
    flex-direction: row;
    .nav-item {
      flex-grow: 1;
      text-align: center;
      .label {
        display: none;
      }
    }
  }
}


/* max-width: 375px */

@media screen and (max-width: 375px) {
  #intro {
    #avatar {
      width: 75px;
      height: 75px;
    }
    #name,
    #short {
      font-size: 15px;
    }
  }
  .navbar {
    .navbar-nav {
      .nav-link {
        padding: 10px 10px !important;
      }
    }
  }
}